{% extends "index.html" %}
{% block post_title %}글 상세{% endblock %}

{% block upload_image %}<button class="button is-warning">사진 업로드</button>{% endblock%}

{% block restaurant_input %}
<input id="restaurant" value="{{review['restaurant']}}" />
{% endblock %}

{% block select %}
<div class="select">
  <select>
    <option>선택하기</option>
    {%for c in category%}
      {%if c == review['category']%}
        <option selected>{{c}}</option>
      {%else%}
        <option>{{c}}</option>
      {%endif%}
    {% endfor %}
  </select>
</div>
{% endblock %}

{% block post_textarea %}
  <textarea id="review">{{review['comment']}}</textarea>
{% endblock %}

{% block mydetail_button %}
  <button class="button is-primary" onclick="modifyReview()">저장하기</button>
  <button class="button is-warning" onclick="location.href='/mydetail'">
    수정취소
  </button>
{% endblock %}
