{% extends "index.html" %}
{% block post_title %}글 상세{% endblock %}

{% block favorites %}
  <button class="button is-success" onclick="favoriteReview()">즐겨찾기 추가</button>
{% endblock %}

{% block restaurant_input %}
  <input id="restaurant" value="{{review['restaurant']}}" disabled />
{% endblock %}

{% block location_input %}
<input id="location" disabled/>
{% endblock %}

{% block user_input %}
<div style="border: solid;" id="user"></div>
{% endblock %}

{% block select %}
{# 값 가져와서 option에 selected 속성 넣기#}
<div class="select">
  <select disabled>
    <option>{{review['category']}}</option>
  </select>
</div>
{% endblock %}

{% block post_textarea %}
<textarea id="review" disabled>{{review['comment']}}</textarea>
{% endblock %}

{% block mydetail_button %}
  <button class="button is-link" onclick="location.href='/mydetail_modifying'">
    수정하기
  </button>
  <button class="button is-danger" onclick="deleteReview()">삭제하기</button>
{% endblock %}

{# {%block jinja_test%} 
  {{review['restaurant']}} {{review['category']}} {{review['comment']}}
{%endblock%} #}
