<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .navbar-item {
      width: 100px;
    }
  </style>
  <script>
    function deleteCookie(name) {
      document.cookie = name + '=; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    }
    // 로그아웃
    function logout() {
      deleteCookie('mytoken')
      deleteCookie('myid')
      alert('로그아웃 되었습니다.')
      window.location.reload()
    }
  </script>
</head>
<body>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="#">
        <i class="fas fa-solid fa-gift"></i>
      </a>
    </div>
  
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-light" onclick="logout()">
            Logout
          </a>
        </div>
      </div>
    </div>
  </nav>
</body>
</html>