{% extends "index.html" %} {% block post_title %}글 상세{% endblock %}{% block
favorites %}
<button class="button is-success" onclick="favoriteReview()">
  즐겨찾기 추가</button
>{% endblock %} {% block restaurant_input %}
<input id="restaurant" value="value 값 넣기" disabled />
{% endblock %} {% block post_textarea %}
<textarea disabled id="review">바꾸기 금지</textarea>{% endblock %} {% block
like_button %}<button id="like" class="button is-danger" onclick="likeReview()">
  좋아요 | <span>좋아요 개수 {{likes}}</span></button
>{% endblock %}
